
script(src="js/plugins/jquery-3.4.1.min.js")
script(src="js/plugins/bootstrap.js")
script(src="js/plugins/bootstrap-select.min.js")
script(src="js/plugins/anitabs.min.js")
script(src="js/plugins/slick.js")
script(src="js/plugins/jquery.formstyler.min.js")
script(src="js/plugins/jquery.maskedinput.js")
script(src="js/plugins/ion.rangeSlider.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js")

script(src="./js/index.js")